<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <link href="common.bundle-<%=staticCommonBundleCss %>.css" rel="stylesheet">
    <link href="index.bundle-<%=staticIndexBundleCss %>.css" rel="stylesheet">
</head>

<body>
    <div id="container">
        <ul class="menu list-unstyled">
            <li v-for="chart in charts | orderBy 'order'">
                <a :href="'#' + chart.id" class="btn btn-link">{{chart.title}}</a>
            </li>
        </ul>
        <div class="content">
            <div v-for="chart in charts | orderBy 'order'">
                <h4 :id="chart.id" style="padding-top: 10px;">{{chart.title}}{{chart.unit}}{{chart.sum >= 0 ? (" " + chart.sum) : ""}}</h4>
                <canvas :id="'current-' + chart.id" class="graph" width="1000" height="200"></canvas>
            </div>
        </div>
    </div>
    <script src="common.bundle-<%=staticCommonBundleJs %>.js"></script>
    <script src="index.bundle-<%=staticIndexBundleCss %>.js"></script>
</body>

</html>